@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter Light'), 
        url(Inter-Light.woff2) format('woff2'),
        url(Inter-Light.woff) format('woff'),
        url(Inter-Light.ttf) format('ttf');
}
@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: local('Inter Black'), 
        url(Inter-Black.woff2) format('woff2'),
        url(Inter-Black.woff) format('woff'),
        url(Inter-Black.ttf) format('ttf');
}
@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local('Inter Medium'), 
        url(Inter-Medium.woff2) format('woff2'),
        url(Inter-Medium.woff) format('woff'),
        url(Inter-Medium.ttf) format('ttf');
}