.cover{
    width: calc(100% - 48px * 2);
    margin: auto;
    padding: calc(92px / 2) 0;
}
@media screen and (max-width: 1279px){
    .cover{
        width: 100%;
    }
}
@media screen and (max-width: 1023px){
    .cover{
        padding: calc(90px / 2) 0 calc(88px / 2);
    }
}
@media screen and (max-width: 767px){
    .cover{
        padding: calc(66px / 2) 0 calc(64px / 2);
    }
}